.price_details{
    font-family: sans-serif;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.App{
background: linear-gradient(to right, #0062E6, #33AEFF);
}

.title{
    text-align: center;
    font-size: small;
    font-weight: bolder;
    opacity: 0.5;
}

.plan-detail{
    text-align: center;
}

.price{
    font-weight: bold;
    font-size: x-large;
}

span{
    text-align: center;
}
.card{
    border: 1px solid black;
    margin:40px;
    border-radius: 15px;
    padding:17px;
}


.button{
   font-family: 'Courier New', Courier, monospacesdc ;
   width:220px;
   border-radius: 20px;;
}

.card:hover{
margin-top: 20px;
cursor:pointer
}